---
layout: archive
title: "Experience"
permalink: /experience/
author_profile: true
redirect_from:
  - /teaching/
---

{% include base_path %}

<h2>Teaching</h2>
{% for post in site.teaching reversed %}
  {% if post.type == "Teaching Assistant" or post.type == "Guest Lecturer" %}
    {% include archive-single.html %}
  {% endif %}
{% endfor %}

<h2>Internship</h2>
{% for post in site.teaching reversed %}
  {% if post.type == "Internship" %}
    {% include archive-single.html %}
  {% endif %}
{% endfor %}
